body {
    background-image: url("../../resources/images/background-main.jpeg");
    background-size: auto;
    background-repeat: no-repeat;
    font-family: 'Jura', Arial, sans-serif;
  }
  
  
  .navbar {
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px;
    width: 100%;
    background-color: rgba(0,0,0,1);      
    overflow: hidden;
    font-weight: bold;
  }
  
  .container {
    top: 0;
    position: relative;
    text-align: center;
  }
  
  #banner-title { 
    position: absolute; 
    left: 50%;
    top: 50px;
    transform: translate(-50%);
    margin: 0 auto; 
    position: relative;  
    font-family: 'Sacramento', Arial, serif;
  }
  
  #banner {
    width: 100%;
    margin: 0px;
    
  }  
  
  h3 {
    font-family: 'Jura', Arial, serif;
    font-weight: bold;
    text-align: center;
    background: white;
  }
  
  p {
    text-align: justify;
  }

  .html-list-item {
    border: none;
    font-style: italic; 
    
  }

  .html-item {
    list-style-type: disc; 
  }
  
  li .nav-item {
    float: left;
    border-right: 2px solid white;
    
  }
  
  li .nav-item a {
    display: block;
    padding: 0px 16px;
    color: white;
    text-decoration: none;
    font-family: 'Jura', Arial, serif;
  }
  
  
  #contact-block {
    float: right;
    border-right: none;
  }